<p id="notice"><%= notice %></p>

<p>
  <strong>Tipo:</strong>
  <%= @tipo_usuario.tipo %>
</p>

<%= link_to 'Editar', edit_tipo_usuario_path(@tipo_usuario) %> |
<%= link_to 'Volver', tipo_usuarios_path %>
