<style>
.header {
  overflow: hidden;
  background-color: #00529E;
  padding: 20px 10px;
}

/* Style the header links */
.header a {
  float: left;
  color: #FEED00 !important;
  font-weight: bold;
  text-align: center;
  padding: 12px;
  margin-left: 5px;
  text-decoration: none;
  font-size: 15px; 
  line-height: 25px;
  border-radius: 4px;
}

/* Style the logo link (notice that we set the same value of line-height and font-size to prevent the header to increase when the font gets bigger */
.header a.logo {
  font-size: 25px;
  font-weight: bold;
}

/* Change the background color on mouse-over */
.header a:hover {
  background-color: #ddd;
  color: black !important;
}

/* Style the active/current link*/
.header a.active {
  background-color: dodgerblue;
  color: white !important;
}

/* Float the link section to the right */
.header-right {
  float: right;
}

/* Add media queries for responsiveness - when the screen is 500px wide or less, stack the links on top of each other */ 
@media screen and (max-width: 500px) {
  .header a {
    float: none;
    display: block;
    text-align: left;
  }
  .header-right {
    float: none;
  }
}
</style>

<div class="header">
  <a href="/usuarios">Usuarios</a>
  <a href="/clientes">Clientes</a>
  <a href="/mapa">Mapa</a>
  <a href="/obras_nuevas">Obras Nuevas</a>
  <a href="/obras_ganadas">Obras Ganadas</a>
  <a href="/obras_perdidas">Obras Perdidas</a>
  <a href="/obras_sin_vendedor">Obras Sin Vendedor</a>  </div>
  <!--<div class="header-right">
    <a href="#default" class="logo">Supervisor HORMIPRET</a>
  </div>
  -->
</div>